<a href="https://colab.research.google.com/github/alazyartist/python_playground/blob/master/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
var ='some string text'
print(var)

some string text

In [7]:
arr = ['some','arr','of','strings']

In [9]:
for item in arr:
  print(item)

some
arr
of
strings

In [51]:
testdict = dict({'one':1,'two':'2'})
testdict
for item in testdict:
  txt = '{0}:{1}'.format(item,testdict[item])
  print(txt)

one:1
two:2

In [64]:
testdict3 = dict({'somecrazykeay':'4','someothercrazykey':5})
  
testdict3

{'somecrazykeay': '4', 'someothercrazykey': 5}

In [66]:
def printdict (somedict):
  for item in somedict:
    txt = '{0}:{1}'.format(item,somedict[item])
    print(txt)

printdict(testdict)
printdict(testdict3)

one:1
two:2
somecrazykeay:4
someothercrazykey:5

In [78]:
arrofdict = [testdict,testdict3]
arrofdict

[{'one': 1, 'two': '2'}, {'somecrazykeay': '4', 'someothercrazykey': 5}]

In [89]:
class testClass:
  testVal=42
  def f(self):
    return 'hello world'
  def getVal(self,num=0):
    return self.testVal + num


TestClass = testClass()
TestClass.f(), TestClass.getVal(),TestClass.getVal(4)

('hello world', 42, 46)

In [100]:
class build:
  def __init__(self,name,age):
    self.name = name
    self.age = age

built = build('carl',52)
built2 = build('kevin',41)
print(built.name, built.age)
print(built2.name,built2.age)

carl 52
kevin 41